#header {
  padding: 15px;
  background-color: skyblue;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

#main {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.calculate {
  padding: 40px 20px 10px;
  background-color: black;
  border-radius: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row.center {
  align-items: center;
  justify-content: center;
}
.display {
  width: 340px;
  /* height: 100px; */
  background-color: thistle;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.display > div {
  /* height: 50%; */
  font-weight: 700;
  font-size: 30px;
  padding: 0 10px;
}

.key-bord {
  margin-top: 10px;
  width: 340px;
}

.key-bord > div {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: teal;
  border-radius: 5px;
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 30px;
  color: white;
}

.key-bord > div:hover {
  background-color: blanchedalmond;
  color: black;
}

.big {
  width: 155px !important;
}
